# Core functionality - changes here should be rare!
/src/app.py                   @gcondello
/src/backend/database.py      @gcondello
/src/backend/routers/auth.py  @gcondello

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gcondello
